$defaultBgColorBtn: #007bff;
$successBgColorBtn: #28a745;
$warningBgColorBtn: #ffc107;
$errorBgColorBtn: #dc3545;
$borderColorBtn: #007bff;
$successBorderColorBtn: #28a745;
$warningBorderColorBtn: #ffc107;
$errorBorderColorBtn: #dc3545;
$disabledBgColor: #ebebeb;
$disabledColor: #7f7f81;
$disabledLinkColor: #a4a5a6;
$disabledBorderColor: #ebebeb;
$white: #fff;
$black: #000;
$mainFontSize: 14px;
$smallFontSize: 12px;
$lagreFontSize: 16px;
$mainLineHeight: 18px;
$smallLineHeight: 16px;
$lagreLineHeight: 20px;